In [73]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [74]:
df = pd.read_csv('Iris.csv')
df.head()

   5.1  3.5  1.4  0.2  Iris-setosa
0  4.9  3.0  1.4  0.2  Iris-setosa
1  4.7  3.2  1.3  0.2  Iris-setosa
2  4.6  3.1  1.5  0.2  Iris-setosa
3  5.0  3.6  1.4  0.2  Iris-setosa
4  5.4  3.9  1.7  0.4  Iris-setosa

In [75]:
df = df.drop_duplicates() #drop duplicates

In [76]:
df = df.dropna() #drop nulls

In [77]:
df.describe()

              5.1         3.5         1.4         0.2
count  146.000000  146.000000  146.000000  146.000000
mean     5.861644    3.052740    3.796575    1.215753
std      0.829562    0.436948    1.753987    0.755822
min      4.300000    2.000000    1.000000    0.100000
25%      5.100000    2.800000    1.600000    0.300000
50%      5.800000    3.000000    4.400000    1.300000
75%      6.400000    3.300000    5.100000    1.800000
max      7.900000    4.400000    6.900000    2.500000

In [78]:
df.dtypes

5.1            float64
3.5            float64
1.4            float64
0.2            float64
Iris-setosa     object
dtype: object

In [79]:
df

     5.1  3.5  1.4  0.2     Iris-setosa
0    4.9  3.0  1.4  0.2     Iris-setosa
1    4.7  3.2  1.3  0.2     Iris-setosa
2    4.6  3.1  1.5  0.2     Iris-setosa
3    5.0  3.6  1.4  0.2     Iris-setosa
4    5.4  3.9  1.7  0.4     Iris-setosa
..   ...  ...  ...  ...             ...
144  6.7  3.0  5.2  2.3  Iris-virginica
145  6.3  2.5  5.0  1.9  Iris-virginica
146  6.5  3.0  5.2  2.0  Iris-virginica
147  6.2  3.4  5.4  2.3  Iris-virginica
148  5.9  3.0  5.1  1.8  Iris-virginica

[146 rows x 5 columns]

In [80]:
df_sort = df.sort_values(by=['3.5'])
df_sort

     5.1  3.5  1.4  0.2      Iris-setosa
59   5.0  2.0  3.5  1.0  Iris-versicolor
67   6.2  2.2  4.5  1.5  Iris-versicolor
118  6.0  2.2  5.0  1.5   Iris-virginica
61   6.0  2.2  4.0  1.0  Iris-versicolor
40   4.5  2.3  1.3  0.3      Iris-setosa
..   ...  ...  ...  ...              ...
4    5.4  3.9  1.7  0.4      Iris-setosa
13   5.8  4.0  1.2  0.2      Iris-setosa
31   5.2  4.1  1.5  0.1      Iris-setosa
32   5.5  4.2  1.4  0.2      Iris-setosa
14   5.7  4.4  1.5  0.4      Iris-setosa

[146 rows x 5 columns]

In [81]:
df_transpose = df.transpose()
df_transpose

,0,1,2,3,4,5,6,7,8,9,...,138,139,140,142,143,144,145,146,147,148
5.1,4.9,4.7,4.6,5.0,5.4,4.6,5.0,4.4,4.9,5.4,...,6.9,6.7,6.9,6.8,6.7,6.7,6.3,6.5,6.2,5.9
3.5,3.0,3.2,3.1,3.6,3.9,3.4,3.4,2.9,3.1,3.7,...,3.1,3.1,3.1,3.2,3.3,3.0,2.5,3.0,3.4,3.0
1.4,1.4,1.3,1.5,1.4,1.7,1.4,1.5,1.4,1.5,1.5,...,5.4,5.6,5.1,5.9,5.7,5.2,5.0,5.2,5.4,5.1
0.2,0.2,0.2,0.2,0.2,0.4,0.3,0.2,0.2,0.1,0.2,...,2.1,2.4,2.3,2.3,2.5,2.3,1.9,2.0,2.3,1.8
Iris-setosa,Iris-setosa,Iris-setosa,Iris-setosa,Iris-setosa,Iris-setosa,Iris-setosa,Iris-setosa,Iris-setosa,Iris-setosa,Iris-setosa,...,Iris-virginica,Iris-virginica,Iris-virginica,Iris-virginica,Iris-virginica,Iris-virginica,Iris-virginica,Iris-virginica,Iris-virginica,Iris-virginica

In [82]:
df_melt = pd.melt(df,id_vars=['Iris-setosa'],value_vars = ['5.1'])
df_melt

        Iris-setosa variable  value
0       Iris-setosa      5.1    4.9
1       Iris-setosa      5.1    4.7
2       Iris-setosa      5.1    4.6
3       Iris-setosa      5.1    5.0
4       Iris-setosa      5.1    5.4
..              ...      ...    ...
141  Iris-virginica      5.1    6.7
142  Iris-virginica      5.1    6.3
143  Iris-virginica      5.1    6.5
144  Iris-virginica      5.1    6.2
145  Iris-virginica      5.1    5.9

[146 rows x 3 columns]

In [83]:
df_pivot = pd.pivot_table(df,index=['Iris-setosa'],values=['5.1'])
df_pivot

                      5.1
Iris-setosa
Iris-setosa      5.008511
Iris-versicolor  5.936000
Iris-virginica   6.604082

In [84]:
df.columns = ['SepalLengthCm','SepalWidthCm','PetalLengthCm','PetalWidthCm','Species']
df

     SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm         Species
0              4.9           3.0            1.4           0.2     Iris-setosa
1              4.7           3.2            1.3           0.2     Iris-setosa
2              4.6           3.1            1.5           0.2     Iris-setosa
3              5.0           3.6            1.4           0.2     Iris-setosa
4              5.4           3.9            1.7           0.4     Iris-setosa
..             ...           ...            ...           ...             ...
144            6.7           3.0            5.2           2.3  Iris-virginica
145            6.3           2.5            5.0           1.9  Iris-virginica
146            6.5           3.0            5.2           2.0  Iris-virginica
147            6.2           3.4            5.4           2.3  Iris-virginica
148            5.9           3.0            5.1           1.8  Iris-virginica

[146 rows x 5 columns]

In [85]:
from sklearn.preprocessing import LabelEncoder  #Data Trasnformation
le = LabelEncoder()
le.fit(df['Species'])
le.classes_
df['Species'] = le.transform(df['Species'])
df.head()

   SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm  Species
0            4.9           3.0            1.4           0.2        0
1            4.7           3.2            1.3           0.2        0
2            4.6           3.1            1.5           0.2        0
3            5.0           3.6            1.4           0.2        0
4            5.4           3.9            1.7           0.4        0

In [86]:
df

     SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm  Species
0              4.9           3.0            1.4           0.2        0
1              4.7           3.2            1.3           0.2        0
2              4.6           3.1            1.5           0.2        0
3              5.0           3.6            1.4           0.2        0
4              5.4           3.9            1.7           0.4        0
..             ...           ...            ...           ...      ...
144            6.7           3.0            5.2           2.3        2
145            6.3           2.5            5.0           1.9        2
146            6.5           3.0            5.2           2.0        2
147            6.2           3.4            5.4           2.3        2
148            5.9           3.0            5.1           1.8        2

[146 rows x 5 columns]

In [87]:
def remove_outliers_zscore(data, threshold=3):
    z_scores = np.abs((data - data.mean()) / data.std())  # Calculate Z-scores Outlier Detection
    
    out = z_scores > 3
    
    data = data[~out.any(axis=1)]
    
    return data
    
filtered_data = remove_outliers_zscore(df)
filtered_data.shape

(145, 5)

In [88]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.naive_bayes import GaussianNB
from sklearn.metrics import accuracy_score

In [89]:
# Split the data into training and testing sets
X = df[['SepalLengthCm', 'SepalWidthCm', 'PetalLengthCm', 'PetalWidthCm']]
y = df['Species']
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=42)

In [90]:
# Build a logistic regression model
logreg = LogisticRegression()
logreg.fit(X_train, y_train)

LogisticRegression()

In [91]:
y_pred_logreg = logreg.predict(X_test)
# Calculate accuracy for logistic regression model
accuracy_logreg = accuracy_score(y_test, y_pred_logreg)

accuracy_logreg

0.9545454545454546

In [92]:
# Build a Naïve Bayes model
naive_bayes = GaussianNB()
naive_bayes.fit(X_train, y_train)

GaussianNB()

In [93]:
# Make predictions on the test set using the Naïve Bayes model
y_pred_nb = naive_bayes.predict(X_test)
# Calculate accuracy for Naïve Bayes model
accuracy_nb = accuracy_score(y_test, y_pred_nb)
accuracy_nb

0.9545454545454546

In [94]:
from sklearn.neighbors import KNeighborsClassifier
# Create KNN classifier
knn = KNeighborsClassifier(n_neighbors = 3)
# Fit the classifier to the data
knn.fit(X_train,y_train)
knn.score(X_test, y_test)

0.9545454545454546